/app/config/configuracion.local.php
/public/uploads/*
!/public/uploads/.htaccess
!/public/uploads/solicitudes/
/public/uploads/solicitudes/*
!/public/uploads/solicitudes/.htaccess
*.log
*.zip
/n8n/local/.env

.n8n/
.phpunit.result.cache

app/config/conexion.php
